@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body,
* {
    font-family: "open sans";
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.menu-wrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burger-icon {
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 4rem;
    color: black;
    z-index: 3;
    transition: color 0.3s ease-in-out;
    
}

.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover {
    color: white;
}

.sidebar {
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 6rem 1rem 0 1rem;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;

}

.burger-icon:hover + .sidebar, .sidebar:hover {
    left: 0;
    box-shadow: 0,0,10px 1px black;
}

.sidebar a {
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: white;
    margin: 1rem 0;
    opacity: 0.5;
    transition: opacity 0.15s ease-in-out,
        transform 0.15s ease-in-out;

}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0,0,10px white);
}

.page {
    width: 100vw;
    height: 100vh;
    border: 0.25rem solid ghostwhite;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* position fixed shows class enter */
    position: fixed;
    left: -100vw;
    transition: all .6s ease-in-out;
}

.show {
    left: 0;
}

/*all div's inside pages are here*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1 {
    font-weight: 300;
    font-size: 3rem;

}

.scroll{
    min-height:100%;    
    overflow:scroll;
    padding:20rem;
    gap:2rem;
}

.box{
    max-width:30vw;
    min-height:40rem;
    grid-template-rows: 1fr 8fr;
    background-color: rgba(0,0,0,0.6);
    border-radius: 1rem;
    padding:2rem;
}

.box .top{
    background-color: black;
    color:white;
    border-radius: 1rem;
    font-size:2rem;
}

.box .bottom{
    color:white;
}

.parallax{
    min-height:100vh;
    background-attachment: fixed;
    background-size:cover;
    background-position: center center;
}

.background1{
    background-image: url('./assets/poster.jpg');
    
}
.background2{
    background-image: url('./assets/toothless.jpg');
}

#page1{
    overflow-y:scroll;
}

#page2 {
    background-color: white;
    background-image: url('./assets/title.jpg');
    background-size:contain;
    background-attachment:fixed;
    background-position: center center;
    background-repeat: no-repeat;
}


section{
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background:hsla(50deg,100%,50%,1);*/
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(./assets/title.jpg);
    background-size: contain;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 0.5;
}
#select-state{
	position:relative;
	padding: 10px;
	border-radius: 4px;
	width: 250px;
	height:50px;
	font-size: 1.2em;
	border:none;
	box-shadow:0 15px 25px rgba(0,0,0,0.1);
	border-right: 10px solid #ffffff;

}
#select-state:focus{
	outline: none;
}

#page3 {
    grid-template-columns: 1fr 1fr;
}

#page3 .left {
    grid-template-rows: 1fr 3fr;
}

#page3 .left .bottom {
    background-color: lightsteelblue;
    border-radius: 12px;
    border-color: white;
}

#page3 .left .top {
    border-radius: 12px;
}

#page3 .right .box {
    background-color: lightseagreen;
    height: 50%;
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 6fr;

}

#page3 .right .box .bottom {
    background-image: url('./assets/images\ \(4\).jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 12px;
}

#page4{
    grid-template-columns: repeat(2,1fr);
}

#page4 .col:nth-child(1){
    background-color: brown;

}
#page4 .col:nth-child(1) video{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

#page4 .col:nth-child(1) .bottom #overlay{
    position:absolute;
    display:grid;
    place-items:center;
}

#page4 .col:nth-child(2){
    background-color: orange;

}

#page4 .col:nth-child(2) video{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

#page4 .col:nth-child(2) .bottom #overlay{
    position:absolute;
    display:grid;
    place-items:center;
}

#page5 {
    grid-template-columns: 1fr 1fr;
}

#page5 .left {
    background-image: url('./assets/How_to_Train_Your_Dragon_\(2003_book_cover\).jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: brown;
    color: rgb(184, 189, 242);
    
}

#page5 .right {
    grid-template-rows:1fr 1fr;
}

#page5 .right .top{
    background-color: hotpink;
}

#page5 .right .bottom{
    background-color: black;
    color:white;
    overflow: hidden;
    height: 50vh;
    position: relative;
}

#page5 .right .bottom video{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

#videoButton{
    position:absolute;
    bottom:1rem;
    left:1rem;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius:1rem;
    background-color: rgba(100,100,100,0.9);
    color:white;
    border:1px solid lightgray;
    z-index:1000;
    transition: .3s ease-in-out all;
    cursor:grab;
}

#videoButton :hover{
    background-color:white;
    color:black;
}

